<% include ./hf/header.ejs %>
<div class="page-content">
    <div data-height="cover-header" class="caption bottom-0">
        <div class="caption-center">
            <div class="content-boxed left-40 right-40">
                <div class="content top-10 bottom-20">
                    <h1 class="center-text uppercase ultrabold fa-3x">회원가입</h1>
                    <p class="center-text color-highlight font-11 under-heading bottom-30">
                        KISA-PAY 회원으로 가입해주세요.
                    </p>
                    <div class="input-style has-icon input-style-1 input-required">
                        <i class="input-icon fa fa-user font-11"></i>
                        <span>이름</span>
                        <em>(필수)</em>
                        <input type="name" placeholder="사용자 이름">
                    </div>
                    <div class="input-style has-icon input-style-1 input-required">
                        <i class="input-icon fa fa-at"></i>
                        <span>Email</span>
                        <em>(필수)</em>
                        <input type="email" placeholder="이메일 입력">
                    </div>
                    <div class="input-style has-icon input-style-1 input-required">
                        <i class="input-icon fa fa-lock font-11"></i>
                        <span>비밀번호</span>
                        <em>(필수)</em>
                        <input type="password" placeholder="비밀번호 입력">
                    </div>
                    <div class="input-style has-icon input-style-1 input-required">
                        <i class="input-icon fa fa-lock font-11"></i>
                        <span>비밀번호 확인</span>
                        <em>(필수)</em>
                        <input type="password" placeholder="비밀번호 확인">
                    </div>
                    <a href="#" class="button button-full button-xs shadow-large button-round-small bg-blue1-dark top-10 bottom-0">인증받기</a>

                    <div class="top-20 bottom-20">
                        <a href="#" data-menu="menu-signin" class="center-text font-11 color-gray2-dark">이미 가입하셨다면 로그인하세요.</a>
                    </div>
                    <div class="clear"></div>
                    <a href="#" class="button button-full button-m shadow-large button-round-small bg-green1-dark top-10 bottom-0">LOGIN</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./hf/footer.ejs %>
